<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% now = Date.now %>
        <p><%= "The date is #{now.day}, #{now.mon} #{now.mday}, #{now.cwyear}." %></p>
    </body>
</html>
