<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% now = DateTime.new %>
        <p><%= "The date is #{now.day}, #{now.mon} #{now.day}, #{now.year}." %></p>
    </body>
</html>
