<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% now = DateTime.now %>
        <p><%= now.strftime("The date is %A, %B %d, %Y.") %></p>
    </body>
</html>
