<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% now = Date.new %>
        <p><%= "The date is #{day}, #{Date.mon} #{day}, #{year}." %></p>
    </body>
</html>
